.fractalWindow {
  width: 100%;
  height: 60vh;
  border: 1px solid var(--accent);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

.fractalWorld {
  width: 20000px;
  height: 20000px;
  background-image: url("/fractal.svg");
  background-repeat: repeat;
  background-size: 300px 300px;
  background-position: center;
}
