.introFlow {
  overflow: hidden;
}

.floatImage {
  float: left;

  height: 30vh;
  aspect-ratio: 3 / 4; 
  max-width: 45%;
  min-width: 220px;

  position: relative; 
  border-radius: 12px;
  overflow: hidden;

  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.floatImage :global(img) {
  object-fit: cover;
}

.introText {
  
}

@media (max-width: 768px) {
  .introFlow {
    display: flex;
    flex-direction: column;
  }

  .floatImage {
    float: none;
    order: 2;
    width: 100%;
    max-width: 100%;
    min-width: 0;

    height: auto;
    aspect-ratio: 3 / 4;

    margin-left: 0;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .introText {
    order: 1;
  }

  .floatImage :global(img) {
    object-fit: contain;
  }
}
